/* Google Fonts */
@import url("https:/fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");


/* Gradient Colors */
:root {
    --gradient-1: linear-gradient(to bottom right, rgb(107, 107, 255), blue);

   --gradient-2: linear-gradient(to bottom right, rgb(80, 80, 255), rgb(253, 119, 119)); 

   --gradient-3: linear-gradient(to bottom right, rgb(255, 207, 145), rgb(255, 111, 92));

   --gradient-4: linear-gradient(to bottom right, #2af598, #009efd);
}



/* Global */
* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* BODY */

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);             
}


body h2 {
    color: #282f59;
}

body p {
    color: #ffffff;
}

body a {
    text-decoration: none;
    color: whitesmoke;
}


/* NAV AND LOGO */
 header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 80px;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

   header .logo {
        width: 180px;
    }


     header ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header ul li {
        list-style: none;
        margin-left: 20px;
    }

    header ul li a{
        /* line-height: 80px; */
        color: #fff;
        padding: 6px 15px;
        text-decoration: none;
        text-transform: uppercase;
        /* font-size: 15px; */
        /* font-weight: bold; */
        border-radius: 20px;
    }

    header ul li a:hover,
    header ul li a.active
    {
        background: #fff;
        color: #2b1055;
    }

    header ul li a:hover {
        transition-delay: 1ms;
    }

/* SECTIONS */

    section {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 100px;
    }

    section img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    zindex: 1000;
}
    
    .header-content {
        margin-top: 5rem;
       align-items: center;
       position: relative;
      }

    .header-content h1 {
        font-size: 3vmin;
        margin-bottom: 30px;
        margin-top: 15rem;
        color:white;
        margin-left: 60px;
        text-align: center;
        text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
        0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
        0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
        -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
    }
    
    #btn {
        margin-top: 2rem;
        display: inline-block;
        padding: 10px 20px;
        background: #fff;
        border-radius: 50px;
        color: #2b1055;
        transform: translateX(580px);
    }

    #btn:hover {
        background: #2b1055;
        color: #fff;
        transition-delay: 0.5ms;
    }
    
@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
    display: block;
    font-size: 6.5em;
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #ffffff;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #ffffff;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #ffffff;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #ffffff;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #ffffff;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

      .sec {
          position:relative;
          padding: 100px;
          background: #18051d;
      }

      .sec h2 {
          margin-bottom: 10px;
          color: #fff;
          text-align: center;
        font-size: 4em;
        margin-bottom: 30px;
        font-family: "Luckiest Guy", cursive;
        text-align: center;
        color: white;
        text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
        0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
        0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
        -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
      }

      .sec p {
          font-size: 1em;
          color: #fff;
          padding: 0 5rem;
          margin: 0 50px;
        text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
          0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
          0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
          -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
      }

        .section2 {
        background: linear-gradient(to bottom right, #220629, #18051d)!important;
        height: auto;
      }
      .roadmap{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 5%;
        font-size: 100%;
        font-family: "Noto Sans", sans-serif;
        color: #eee9dc;
        background:#18051d;
        border-radius: 50px;
        height: 100%;
      }
      
      .section2 h2 {
        padding: 1em 0 0 0;
        margin-bottom: 10px;
          color: #fff;
          text-align: center;
        font-size: 3.5em;
        margin-bottom: 30px;
        font-family: "Luckiest Guy", cursive;
        text-align: center;
        color: white;
        text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
        0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
        0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
        -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
        text-transform: uppercase;
      }
      
      /* -------------------------------------
       * timeline
       * ------------------------------------- */
      #timeline {
        list-style: none;
        margin: 50px 0 30px 120px;
        padding-left: 30px;
        border-left: 8px solid #eee9dc;
      }
      #timeline li {
        margin: 40px 0;
        position: relative;
      }
      #timeline p {
        margin: 0 0 15px;
      }
      
      .date {
        margin-top: -10px;
        top: 50%;
        left: -110px;
        font-size: 0.95em;
        line-height: 20px;
        position: absolute;
      }
      
      .circle {
        margin-top: -10px;
        top: 50%;
        left: -39px;
        width: 10px;
        height: 10px;
        background: #0000;
        border: 5px solid #eee9dc;
        border-radius: 50%;
        display: block;
        position: absolute;
      }
      
      .content {
        max-height: 20px;
        padding: 50px 20px 0;
        border-color: transparent;
        border-width: 2px;
        border-style: solid;
        border-radius: 0.5em;
        position: relative;
      }
      .content:before, .content:after {
        content: "";
        width: 0;
        height: 0;
        border: solid transparent;
        position: absolute;
        pointer-events: none;
        right: 100%;
      }
      .content:before {
        border-right-color: inherit;
        border-width: 20px;
        top: 50%;
        margin-top: -20px;
      }
      .content:after {
        border-right-color: #18051d;
        border-width: 17px;
        top: 50%;
        margin-top: -17px;
      }
      .content p {
        max-height: 0;
        color: transparent;
        text-align: justify;
        word-break: break-word;
        hyphens: auto;
        overflow: hidden;
      }
      
      label {
        font-size: 1.3em;
        position: absolute;
        z-index: 100;
        cursor: pointer;
        top: 20px;
        transition: transform 0.2s linear;
      }
      
      .radio {
        display: none;
      }
      
      .radio:checked + .relative label {
        cursor: auto;
        transform: translateX(42px);
      }
      .radio:checked + .relative .circle {
        background: #f98262;
      }
      .radio:checked ~ .content {
        max-height: 180px;
        border-color: #eee9dc;
        margin-right: 20px;
        transform: translateX(20px);
        transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
      }
      .radio:checked ~ .content p {
        max-height: 200px;
        color: #eee9dc;
        transition: color 0.3s linear 0.3s;
      }
      
      /* -------------------------------------
       * mobile phones (vertical version only)
       * ------------------------------------- */
      @media screen and (max-width: 767px) {
        #timeline {
          margin-left: 0;
          padding-left: 0;
          border-left: none;
        }
        #timeline li {
          margin: 50px 0;
        }
      
        label {
          width: 85%;
          font-size: 1.1em;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          transform: translateX(18px);
        }
      
        .content {
          padding-top: 45px;
          border-color: #eee9dc;
        }
        .content:before, .content:after {
          border: solid transparent;
          bottom: 100%;
        }
        .content:before {
          border-bottom-color: inherit;
          border-width: 17px;
          top: -16px;
          left: 50px;
          margin-left: -17px;
        }
        .content:after {
          border-bottom-color: #000000;
          border-width: 20px;
          top: -20px;
          left: 50px;
          margin-left: -20px;
        }
        .content p {
          font-size: 0.9em;
          line-height: 1.4;
        }
      
        .circle, .date {
          display: none;
        }
      }
      

      /* Characters  */

    .characters {
        /* background-color: ; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* overflow: hidden; */
    }

    .box {
        width: 350px;
        height: 610px;
        background-color: #220629;
        border-radius: 10px;
        box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: space-between;
        margin: 20px 10px;
    }

    .model {
       height: 350px;
       max-height: 100%;
       max-width: 100%;
       padding-top: 10px;
    }

    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }

    .details h2 {
        font-family: bebas kai;
        font-size: 25px;
        color: rgb(78, 63, 63);
        margin-top: 15px;
    }

    .details p {
        font-family: calibri;
        font-weight: bold;
        color: ;
        text-align: center;
        margin-top: 20px;
    }
    
    .characters ul {
        list-style: none;
    }

    .characters ul li {
        text-decoration: none;
    }

    .box:hover {
      background-color: #1b0d1f;
      transform-style: preserve-3d;
      transform: scale(1.02);
      transition: all ease 0.3s;
    }
    .box:hover h2 {
      color: red;
    }
    /* ------- resposive for mobile phone----- */
    @media(max-width:720px) {
      
    }